@page
@model FreshFarmMarket.Pages.Errors.Err404Model
@{
    ViewData["title"] = "Page doesn't exists";
}

<div class="container">
    <h1>404</h1>
    <p style="font-size: 30px; ">@ViewData["title"]</p>
    <p>The page you are looking either doesn't exists</p>
    <p>Please navigate back to <a href="/">Home Page</a></p>
</div>