@page
@model FreshFarmMarket.Pages.Errors.Err500Model
@{
    ViewData["title"] = "Internal Server Error";
}

<div class="container">
    <h1>500</h1>
    <p style="font-size: 30px; ">Internal Server Error.</p>
    <p>Server Error.</p>
    <p>Please navigate back to <a href="/">Home Page</a></p>
</div>