@page
@model FreshFarmMarket.Pages.Register
@{
}

<form id="register-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2>Create a new account.</h2>
        <hr />
        <div class="col-md-8">
            <div class="form-floating">
                <input id="fullname-input" asp-for="registerModel.FullName" class="form-control" aria-required="true"/>
                <label asp-for="registerModel.FullName"></label>
                <span id="fullname-validation" asp-validation-for="registerModel.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input id="creditcard-input" asp-for="registerModel.CreditCardNo" class="form-control" aria-required="true"/>
                <label asp-for="registerModel.CreditCardNo"></label>
                <span id="creditcard-validation" asp-validation-for="registerModel.CreditCardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="registerModel.Gender"></label>
                <div>
                    @Html.RadioButtonFor(model => model.registerModel.Gender, "M", new { @class = "form-check-input", @checked = true })
                    <label class="form-check-label">Male</label>
                    <br />
                    @Html.RadioButtonFor(model => model.registerModel.Gender, "F", new { @class = "form-check-input" })
                    <label class="form-check-label">Female</label>
                </div>
                <span asp-validation-for="registerModel.Gender" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input id="mobile-input" asp-for="registerModel.MobileNo" class="form-control" aria-required="true"/>
                <label asp-for="registerModel.MobileNo"></label>
                <span id="mobileno-validation" asp-validation-for="registerModel.MobileNo" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="registerModel.DeliveryAddress" class="form-control" aria-required="true" />
                <label asp-for="registerModel.DeliveryAddress"></label>
                <span asp-validation-for="registerModel.DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input id="email-input" type="email" asp-for="registerModel.Email" class="form-control" aria-required="true" />
                <label asp-for="registerModel.Email"></label>
                <span id="email-validation" asp-validation-for="registerModel.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input id="password-input" asp-for="registerModel.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="registerModel.Password"></label>
                <span id="password-validation" asp-validation-for="registerModel.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="registerModel.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="registerModel.ConfirmPassword"></label>
                <span asp-validation-for="registerModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="registerModel.AboutMe" class="form-control" aria-required="true" />
                <label asp-for="registerModel.AboutMe"></label>
                <span asp-validation-for="registerModel.AboutMe" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <input type="file" accept="image/jpg" asp-for="Upload" class="form-control" onchange="showImgPreview(this)" />
                <span asp-validation-for="Upload" class="text-danger"></span>
            </div>
            <img id="imgPreview" class="rounded-circle" style="height:300px;width:300px;object-fit:cover" src="/uploads/images/default_pic.jpg" />
        </div>
        <button id="register-submit" type="button" class="w-100 btn btn-lg btn-primary">Register</button>
    </div>
</form>

<script>
    function showImgPreview(input) {
    if (input.files[0]) {
        var uploadimg = new FileReader();
        uploadimg.onload = function(displayimg) {
            $("#imgPreview").attr('src', displayimg.target.result);
        }
        uploadimg.readAsDataURL(input.files[0]);
        }
    }
</script>
@section Scripts {
    <script>
        $(document).ready(()=>{
            var regexPwd = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#?!@@$%\^&\*\-])(?=.{12,})");
            var regexFN = new RegExp("[A-z ]+");
            var regexCC = new RegExp("[0-9]{16}");
            var regexMobile = new RegExp("[0-9]{8}");
            var regexEmail = /^[\w!#$%&'*+\-/=?\^_`{|}~]+(\.[\w!#$%&'*+\-/=?\^_`{|}~]+)*@@((([\-\w]+\.)+[a-zA-Z]{2,4})|(([0-9]{1,3}\.){3}[0-9]{1,3}))$/

            $("#register-submit").click(()=>{
                var resPwd = regexPwd.test($("#password-input").val());
                var resFN = regexFN.test($("#fullname-input").val().trim());
                var resCC = regexCC.test($("#creditcard-input").val());
                var resMobile = regexMobile.test($("#mobile-input").val());
                var resEmail = regexEmail.test($("#email-input").val());

                if(resPwd && resFN && resCC && resMobile && resEmail){
                    $("#register-form").submit();
                }else{
                    if(!resPwd){
                        $("#password-validation").text("Password requires At least one upper case, at least one lower case, at least one digit, at least one special character (#?!@@$%^&*-), minimum 12 characters");
                    }else{
                        $("#password-validation").text();
                    }
                    console.log(resFN, resCC);
                    if(!resFN){
                        $("#fullname-validation").text("Name cannot be empty and can only contain alphabets and space.");
                    }else{
                        $("#fullname-validation").text();
                    }
                    if(!resCC){
                        $("#creditcard-validation").text("Credit Cards Number Without Spacing. eg: 4444111122223333");
                    }else{
                        $("#creditcard-validation").text();
                    }
                    if(!resMobile){
                        $("#mobileno-validation").text("Invalid Mobile Number Format. Please key in eg: 88888888");
                    }else{
                        $("#mobileno-validation").text();
                    }
                    if(!resEmail){
                        $("#email-validation").text("Invalid Email Format");
                    }else{
                        $("#email-validation").text();
                    }
                }
            });

        });
    </script>
}