@page
@model FreshFarmMarket.Pages.ResetPassword
@{
}
<form id="reset_password_form" enctype="multipart/form-data" method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2>RESET PASSWORD</h2>
        <br />
        <div class="col-md-8">
            <div class="mb-3">
                <label class="col-form-label" asp-for="resetPasswordModel.Email"></label>
                <input id="email_input" class="form-control" aria-required="true" type="email"
                    asp-for="resetPasswordModel.Email" disabled />
            </div>
            <div class="mb-3">
                <label class="col-form-label" asp-for="resetPasswordModel.Code"></label>
                <input id="code_input" class="form-control" aria-required="true" type="code"
                    asp-for="resetPasswordModel.Code" disabled />
            </div>
            <div class="mb-3">
                <label class="col-form-label" asp-for="resetPasswordModel.Password"></label>
                <input id="password_input" class="form-control" aria-required="true"
                    asp-for="resetPasswordModel.Password" />
                <span id="password_validation" class="text-danger"
                    asp-validation-for="resetPasswordModel.Password"></span>
            </div>
            <div class="mb-3">
                <label class="col-form-label" asp-for="resetPasswordModel.ConfirmPassword"></label>
                <input class="form-control" aria-required="true" asp-for="resetPasswordModel.ConfirmPassword" />
                <span class="text-danger" asp-validation-for="resetPasswordModel.ConfirmPassword"></span>
            </div>
        </div>
        <button id="reset_password_btn" type="button" class="btn btn-lg btn-primary">
            Reset
        </button>
    </div>
</form>

@section Scripts {
<script>
    $(document).ready(() => {
        const PasswordRegex = new RegExp(
            "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[$@@$!%*?&])[A-Za-z\\d$@@$!%*?&]{12,}$"
        );

        $("#reset_password_btn").click(() => {
            const isValidPassword = PasswordRegex.test($("#password_input").val());

            if (isValidPassword) {
                $("#reset_password_form").submit();
            } else {
                if (!isValidPassword) {
                    $("#password_validation").text(
                        "Please enter password with minimum 12 characters (at least one upper case, at least one lower case, at least one digit, at least one special character (#?!@@$%^&*-)"
                    );
                }
            }
        });
    });
</script>
}